<p>sidebar works!</p>
    <!-- start of sidebar -->
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
        <li class="app-sidebar__heading">Menu</li>
        <li class="mm-active">
        <a >
        <i class="metismenu-icon pe-7s-rocket"></i>Dashboard
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
        </a>
        <ul class="mm-show">
        <li>
        <a class="mm-active">
        <i class="metismenu-icon"></i>My progress
        </a>
        </li>
        
        
        </ul>
        <ul class="mm-show">
            <li>
            <a>
            <i class="metismenu-icon"></i>Analystics
            </a>
            </li>
            
            
            </ul>
        </li>

        <li class="mm-active">
            <a >
            <i class="metismenu-icon pe-7s-rocket"></i>My Courses
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
            </a>
            <ul class="mm-show">
                <li>
                <a routerLink="/courses">
                <i class="metismenu-icon" ></i>Completed Courses
                </a>
                </li>
                
                
                </ul>
                <ul class="mm-show">
                    <li>
                    <a>
                    <i class="metismenu-icon"></i>All Courses
                    </a>
                    </li>
                    
                    
                    </ul>
            </li>
            <li class="mm-active">
                <a >
                <i class="metismenu-icon pe-7s-rocket"></i>My Exams
                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul class="mm-show">
                    <li>
                    <a routerLink="/exams">
                    <i class="metismenu-icon"></i>Completed Exams
                    </a>
                    </li>
                    
                    
                    </ul>
                    <ul class="mm-show">
                        <li>
                        <a>
                        <i class="metismenu-icon"></i>Check Notes
                        </a>
                        </li>
                        
                        
                        </ul>
                </li>


         <li class="mm-active">
        <a>
            <i class="metismenu-icon pe-7s-rocket"></i>Pages
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
        </a>
        <ul>
        <li>
        <a href="pages-login.html">
        <i class="metismenu-icon"></i> Login
        </a>
        </li>
        <li>
        <a href="pages-login-boxed.html">
        <i class="metismenu-icon"></i>Login Boxed
        </a>
        </li>
        <li>
        <a href="pages-register.html">
        <i class="metismenu-icon"></i>Register
        </a>
        </li>
        <li>
        <a href="pages-register-boxed.html">
        <i class="metismenu-icon"></i>Register Boxed
        </a>
        </li>
        <li>
        <a href="pages-forgot-password.html">
        <i class="metismenu-icon"></i>Forgot Password
        </a>
        </li>
        <li>
        <a routerLink="/profile">
        <i class="metismenu-icon"></i>Edit profile
        </a>
        </li>
        </ul>
        </li>
        <li class="mm-active">
            <a>
                <i class="metismenu-icon pe-7s-rocket"></i>Discussions
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
        </a>
        <ul>
        <li>
        <a href="apps-mailbox.html">
        <i class="metismenu-icon"></i>Mailbox
        </a>
        </li>
        <li>
        <a href="apps-chat.html">
        <i class="metismenu-icon"></i>Chat
        </a>
        </li>
        <li>
        <a href="apps-faq-section.html">
        <i class="metismenu-icon"></i>FAQ Section
        </a>
        </li>
        <li>
        <a href="#">
        <i class="metismenu-icon"></i>Forums
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
        </a>
        <ul>
        <li>
        <a href="apps-forum-list.html">
        <i class="metismenu-icon"></i>Forum Listing
        </a>
        </li>
        <li>
        <a href="apps-forum-threads.html">
        <i class="metismenu-icon"></i>Forum Threads
        </a>
        </li>
        <li>
        <a href="apps-forum-discussion.html">
        <i class="metismenu-icon"></i>Forum Discussion
        </a>
        </li>
        </ul>
        </li>
        </ul>
        </li>
        <li class="mm-active">
            <a >
            <i class="metismenu-icon pe-7s-rocket"></i>My Payments
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
            </a>
            <ul class="mm-show">
                <li>
                <a>
                <i class="metismenu-icon"></i>Process Payment
                </a>
                </li>
                
                
                </ul>
                <ul class="mm-show">
                    <li>
                    <a>
                    <i class="metismenu-icon"></i>Info
                    </a>
                    </li>
                    
                    
                    </ul>
            </li>
        <li class="app-sidebar__heading">Settings</li>
        </ul>
        </div>
        </div>
<!--end of sidebar-->