<html>
    <body style="background-image: url(https://i.ibb.co/yPfbH9h/education-and-business-background-1.jpg); background-repeat: no-repeat;
    background-size: cover; ">
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="login-wrap p-4 p-md-5" style="background-color: white; padding-left: 50px;">
              <div class="d-flex">
                <div class="w-100">
                  <h3 class="mb-4">Login</h3>
                </div>
  
              </div>
              <form class="signin-form" [formGroup]="loginForm" >
                <div class="form-group mb-3">
                  <label class="label" for="username">Username</label>
                  <input type="text" class="form-control" placeholder="Type your username here" required formControlName="username">
                </div>
                <div class="form-group mb-3">
                  <label class="label" for="password">Password</label>
                  <input type="password" class="form-control" placeholder="Password" required formControlName="password">
                </div>
                <div class="form-group">
                  <button type="submit" class="form-control btn btn-primary rounded submit px-3" (click)="login()" >Login</button>
                </div>
                <div class="form-group d-md-flex">
                  <div class="w-50 text-left">
                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="w-50 text-md-right">
                    <a href="">Forgot Password</a>
                  </div>
                </div>
              </form>
              <p class="text-center">Not a member? <a data-toggle="tab" routerLink="/signup">Sign Up</a></p><br>
              <div class="alert alert-success" role="alert" *ngIf="showSuccessAlert">
                Login successful!
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="showDeleteAlert">
               Form invalid, please make sure you filled the correct informations!
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="login-wrap p-4 p-md-5" >

            
           
          </div>
        </div>
      </div>
    </div>
  </section>
  
   
    
    </body></html>